* {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#header-main {
    #header-center {
        .logo {
            color: blue;
        }
    }
}

.form {
    padding: 15px;
    background-color: rgb(63, 63, 63);
    color: white;

    .frame {
        padding: 5px;
        margin: 10px;
        border: 2px solid white;

        span.out {
            background-color: white;
            color:#000000;
            padding: 2px;
        }
    }
}