* {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

#header-main #header-center .logo {
  color: blue;
}

.form {
  padding: 15px;
  background-color: #3f3f3f;
  color: white;
}
.form .frame {
  padding: 5px;
  margin: 10px;
  border: 2px solid white;
}
.form .frame span.out {
  background-color: white;
  color: #000000;
  padding: 2px;
}/*# sourceMappingURL=style.css.map */